In [1]:
#series is the object of pandas library and it represent 1D data structure

In [2]:
import pandas as pd
import numpy as np

In [3]:
#declaring the series
s = pd.Series([12,34,-87,3,-1])
s

0    12
1    34
2   -87
3     3
4    -1
dtype: int64

In [4]:
s = pd.Series([12,34,-87,3,-1],index = ['a','b','c','d','e'])
s

a    12
b    34
c   -87
d     3
e    -1
dtype: int64

In [5]:
#checking the values and index in series 
s.values
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
s[2]

C:\Users\sies\AppData\Local\Temp\ipykernel_26688\2635755408.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

np.int64(-87)

In [7]:
s['a']

np.int64(12)

In [8]:
s[0:2] #slicing of series

a    12
b    34
dtype: int64

In [9]:
s[['b','d']]

b    34
d     3
dtype: int64

In [10]:
s[1]=3

C:\Users\sies\AppData\Local\Temp\ipykernel_26688\473058777.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s[1]=3

In [11]:
s.values

array([ 12,   3, -87,   3,  -1])

In [12]:
#defining Series from numpy array and other series
arr = np.array([1,2,3,4])
s3 = pd.Series(arr)
s3

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
s3[2]

np.int64(3)

In [14]:
arr[2]

np.int64(3)

In [15]:
arr[2] = 0
s3

0    1
1    2
2    0
3    4
dtype: int64

In [16]:
#filtering the values
s[s>2]

a    12
b     3
d     3
dtype: int64

In [17]:
#opertions and mathemtical functions
s/2
s*2
s+100

a    112
b    103
c     13
d    103
e     99
dtype: int64

In [18]:
np.log(s)

C:\Users\sies\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

a    2.484907
b    1.098612
c         NaN
d    1.098612
e         NaN
dtype: float64

In [19]:
#evaluating Values
eva = pd.Series([0,1,1,2,10],index=['abc','xyz','xyz','mno','def'])
eva

abc     0
xyz     1
xyz     1
mno     2
def    10
dtype: int64

In [20]:
eva.unique()

array([ 0,  1,  2, 10])

In [21]:
test=eva.unique()
test

array([ 0,  1,  2, 10])

In [22]:
eva.value_counts()

1     2
0     1
2     1
10    1
Name: count, dtype: int64

In [23]:
eva.isna()

abc    False
xyz    False
xyz    False
mno    False
def    False
dtype: bool

In [24]:
#NaN Values #Nan (not a number)
s2 = pd.Series([5,-3,np.nan,14])
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [25]:
s2.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [26]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [27]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [28]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [29]:
#Series as dictionaries
mydict = {'red':2000,'blue':1000,'yellow':500,'orange':1000}
mydict

{'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}

In [30]:
myseries=pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [31]:
colors = ['red','blue','yellow','orange']
myseries1=pd.Series(mydict,index=colors)
myseries1

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [32]:
myseries+myseries1

red       4000
blue      2000
yellow    1000
orange    2000
dtype: int64

In [33]:
 #defining pandas
data = {'color' :['blue','green','yellow','red','white'],
        'object' :['ball','pen','pencil','paper','mug'],
        'price' :[1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [34]:
frame2 = pd.DataFrame(data,index = ['one','two','three','four','five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [35]:
frame3 = pd.DataFrame(np.arange(16).reshape(4,4),
                      index =['blue','green','yellow','red'],
        columns =['ball','pen','pencil','paper'])
frame3

        ball  pen  pencil  paper
blue       0    1       2      3
green      4    5       6      7
yellow     8    9      10     11
red       12   13      14     15

In [36]:
frame3.columns

Index(['ball', 'pen', 'pencil', 'paper'], dtype='object')

In [37]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [38]:
frame3.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [39]:
#28-07-2025

In [40]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [41]:
frame[0:]

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [42]:
frame['object'][3]

'paper'

In [43]:
frame.index.name = 'id';frame.columns.name = 'items'
frame

items   color  object  price
id
0        blue    ball    1.2
1       green     pen    1.0
2      yellow  pencil    0.6
3         red   paper    0.9
4       white     mug    1.7

In [44]:
#assigning the value

In [45]:
frame['new'] = 12
frame

items   color  object  price  new
id
0        blue    ball    1.2   12
1       green     pen    1.0   12
2      yellow  pencil    0.6   12
3         red   paper    0.9   12
4       white     mug    1.7   12

In [46]:
frame['new'] = [1,2,3,4,5]
frame

items   color  object  price  new
id
0        blue    ball    1.2    1
1       green     pen    1.0    2
2      yellow  pencil    0.6    3
3         red   paper    0.9    4
4       white     mug    1.7    5

In [47]:
frame.isin([1.0,'pen'])

items  color  object  price    new
id
0      False   False  False   True
1      False    True   True  False
2      False   False  False  False
3      False   False  False  False
4      False   False  False  False

In [48]:
frame[frame.isin([1.0,'pen'])]

items color object  price  new
id
0       NaN    NaN    NaN  1.0
1       NaN    pen    1.0  NaN
2       NaN    NaN    NaN  NaN
3       NaN    NaN    NaN  NaN
4       NaN    NaN    NaN  NaN

In [49]:
del frame['new']

In [50]:
frame

items   color  object  price
id
0        blue    ball    1.2
1       green     pen    1.0
2      yellow  pencil    0.6
3         red   paper    0.9
4       white     mug    1.7

In [52]:
#dataframe from nested dict
nestdist = { 'red' : {2012:22,2013:13},
    'white' : {2011:11,2012:22,2013:16},
'blue' : {2011:17,2012:27,2013:18}
}

In [55]:
frame4 = pd.DataFrame(nestdist)
frame4

       red  white  blue
2012  22.0     22    27
2013  13.0     16    18
2011   NaN     11    17

In [56]:
frame4.T

       2012  2013  2011
red    22.0  13.0   NaN
white  22.0  16.0  11.0
blue   27.0  18.0  17.0

In [57]:
frame4.values

array([[22., 22., 27.],
       [13., 16., 18.],
       [nan, 11., 17.]])

In [58]:
ser = pd.Series(np.arange(5),index = ['a','b','c','d','e'])
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [59]:
ser[-1]

C:\Users\sies\AppData\Local\Temp\ipykernel_26688\3387420178.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser[-1]

np.int64(4)

In [61]:
ser = pd.Series([5,0,3,8,4],index = ['red','blue','yellow','white','green'])
ser.index #immutable objects

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

In [64]:
ser.idxmin()

'blue'

In [65]:
ser.idxmax()

'white'

In [66]:
ser = pd.Series(range(6),index = ['red','blue','yellow','white','green','white'])
ser

red       0
blue      1
yellow    2
white     3
green     4
white     5
dtype: int64

In [67]:
ser['white']

white    3
white    5
dtype: int64

In [68]:
ser.index.is_unique

False

In [69]:
frame.index.is_unique

True

In [72]:
ser = pd.Series([5,0,3,8,4],index = ['one','two','three','four','five'])

In [74]:
ser.reindex(['a','b','c','d','e'])

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [86]:
ser1= pd.Series(['a','b','c'],index = [0,3,4])
ser1

0    a
3    b
4    c
dtype: object

In [87]:
ser1.reindex(range(6),method = 'ffill')

0    a
1    a
2    a
3    b
4    c
5    c
dtype: object

In [88]:
ser1.reindex(range(6),method = 'bfill')

0      a
1      b
2      b
3      b
4      c
5    NaN
dtype: object

In [89]:
ser = pd.Series(np.arange(4.),index = ['red','blue','yellow','white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [91]:
ser.drop(['red','yellow'])

blue     1.0
white    3.0
dtype: float64

In [93]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['red','blue','yellow','white'],
                      columns = ['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                      index = ['red','blue','yellow','white'],
                      columns = ['mug','pen','ball'])

frame1+frame2

In [94]:
frame1.add(frame2)

        ball  mug  paper  pen  pencil
red        2  NaN    NaN    2     NaN
blue       9  NaN    NaN    9     NaN
yellow    16  NaN    NaN   16     NaN
white     23  NaN    NaN   23     NaN